{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Qué son las Awakening Medals?</span></b></span></div>
</td></tr>
</tbody></table>
    
<br>

<center>
<div class="separator" style="clear: both; text-align: center;">

<div style="text-align: center;">Las Awakening Medals o en Español "Medallas de Despertar" son unas Medallas obtenibles en el juego que son Necesarias para hacer Z-Awakening y Dokkan Awakening a los Personajes.</div>
<div class="separator" style="clear: both; text-align: center;">
<img border="0" height="320" src="https://1.bp.blogspot.com/-Q3QOZmEwQ5w/Vwpyk4jJgRI/AAAAAAAAGkE/r8nQNSd3MtcL9Hfz-r4AeJa33dMNUbc3Q/s320/Foto%2BAwakening%2BMedals.jpg" width="211" /></div>
<div style="text-align: justify;">

</div>
<div style="text-align: center;">Para poder hacer Z-Awakening o Dokkan Awakening a cualquier personaje es Obligatorio que este al Lv Máx y que le deis las Medallas que necesite.</div>

    <br>


<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Listado de Awakening Medals</span></b></span></div>
</td></tr>
</tbody></table>
    
    
</div>
</div>
</center>
    <br>
    
<center>

<center>
<table border="1" cellpadding="4" style="text-align: center;"><tbody>
<tr><th><div style="text-align: center;">
Item</div>
</th> <th><div style="text-align: center;">
Función</div>
</th> <th><div style="text-align: center;">
Capsula</div>
</th></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-rQD9hKX50kI/Vv_dDuEoFEI/AAAAAAAAGMU/mQfQvHWn2hYGAAVFPXeStuIJQE_wMdpoQ/h120/Bubbles.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
<span style="font-weight: normal; text-align: center;">&nbsp;Sirve para hacer Z-Awakening a Personajes STR, AGL, TEQ, INT y PHY.</span></div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-Cxex9FKLdbQ/VwUyiDBwwzI/AAAAAAAAGQI/aCPZHyFB1II6B0cHhMjC4AoZzDfJcKvWw/h120/Awakening_1.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-ij1-EDirm3U/Vv_dEJDLOAI/AAAAAAAAGMg/LS6rwfeCfV8KKZCygC67HA-u-N_yuaS7Q/h120/Gregory.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
<span style="text-align: center;">Sirve para hacer Z-Awakening a Personajes STR, AGL, TEQ, INT y PHY.</span></div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-Cxex9FKLdbQ/VwUyiDBwwzI/AAAAAAAAGQI/aCPZHyFB1II6B0cHhMjC4AoZzDfJcKvWw/h120/Awakening_1.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-R64Cnzhfwgg/Vv_dD5G7Y0I/AAAAAAAAGMY/LgFZyEsKiRsj9-TJiOJXnGX3_OTVSJ9rg/h120/Dr_gero.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
<span style="text-align: center;">Sirve para hacer Z-Awakening a Personajes STR, AGL, TEQ, INT y PHY.</span></div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-Cxex9FKLdbQ/VwUyiDBwwzI/AAAAAAAAGQI/aCPZHyFB1II6B0cHhMjC4AoZzDfJcKvWw/h120/Awakening_1.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-srfdl7AexNI/VwUx8JMBctI/AAAAAAAAGP0/vwvg4N3B5w855-3J0fWNXVJ3oBNEdJQCQ/h120/Master_roshi.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
<span style="text-align: center;">Sirve para hacer Z-Awakening a Personajes R, SR y SSR del Tipo STR.</span></div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-eAGjw5VMywU/VwUyiBCk7-I/AAAAAAAAGQM/NXGvzYSGJ_QlCqne_pDBKSrmITdpS0ftQ/h120/Awakening_2.png" width="55" /></div>
</div>
</td></tr>
</tbody></table>
<center>
</center>
</center>
</center>
</div>

    <br>
<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;      Listado de Awakening Medals obtenibles mediante la Historia, Torneos y Eventos.
</span></b></span></div>
</td></tr>
</tbody></table>
</div>
    <br>
    
<center>
<table border="1" cellpadding="4" style="text-align: center;"><tbody>
<tr><th><div style="text-align: center;">
Item</div>
</th> <th><div style="text-align: center;">
Función</div>
</th> <th><div style="text-align: center;">
Capsula</div>
</th></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-HnFz-nc2U2M/V8WW8nqmrCI/AAAAAAAAIMI/ZkS9VHmXS5UsRhEM6Yq723c383MyanELQCLcB/h120/Bulma_Teen.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Sirve para hacer Dokkan Awakening a&nbsp;<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/accepted-ability-krillin-r-str.html"><img height="55" src="https://3.bp.blogspot.com/-QdQDRRXamQE/Vp6xrDhu2GI/AAAAAAAACvA/GjW37gBffGY/s1600/Krillin%2BR%2BSTR.jpg" style="text-align: center;" width="55" /></a>,&nbsp;<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/mind-body-mastery.html"><img height="55" src="https://1.bp.blogspot.com/-kqywaHu6y08/Vn18xh-MNiI/AAAAAAAAB84/jDysoBF56Uo/s1600/4.png" style="text-align: center;" width="55" /></a>,&nbsp;<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-martial-guidance-master-roshi-sr.html"><img height="55" src="https://lh3.googleusercontent.com/-omkAD0rgAaI/VcJxRloMpRI/AAAAAAAAAbg/mB-PqHYht-w/w140-h140-p/Roshi_SR_AGL.png" style="text-align: center;" width="55" /></a>&nbsp;y <a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/earnest-pasion-chi-chi-r-int.html"><img height="55" src="https://lh3.googleusercontent.com/-7-CWrjez2vg/VcOviNVIMOI/AAAAAAAAAmo/_DAiFaXkgrg/w140-h140-p/ChiChi_R_INT.png" style="text-align: center;" width="55" /></a>.</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-2-VjnAAa7B4/VwUyii22ZPI/AAAAAAAAGQQ/IXGyhNPic0YACIEunGEyojv03IReYSsGg/h120/Awakening_4.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-NAx-l5yfw80/V8WXax1vB-I/AAAAAAAAIMM/SY49He7trsgt7Uit8POgcwx1maeqn2OnACLcB/h120/Turtle.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Sirve para hacer Dokkan Awakening a&nbsp;<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/accepted-ability-krillin-r-str.html"><img height="55" src="https://3.bp.blogspot.com/-QdQDRRXamQE/Vp6xrDhu2GI/AAAAAAAACvA/GjW37gBffGY/s1600/Krillin%2BR%2BSTR.jpg" style="text-align: center;" width="55" /></a>,&nbsp;<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/mind-body-mastery.html"><img height="55" src="https://1.bp.blogspot.com/-kqywaHu6y08/Vn18xh-MNiI/AAAAAAAAB84/jDysoBF56Uo/s1600/4.png" style="text-align: center;" width="55" /></a>,&nbsp;<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-martial-guidance-master-roshi-sr.html"><img height="55" src="https://lh3.googleusercontent.com/-omkAD0rgAaI/VcJxRloMpRI/AAAAAAAAAbg/mB-PqHYht-w/w140-h140-p/Roshi_SR_AGL.png" style="text-align: center;" width="55" /></a>&nbsp;y <a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/earnest-pasion-chi-chi-r-int.html"><img height="55" src="https://lh3.googleusercontent.com/-7-CWrjez2vg/VcOviNVIMOI/AAAAAAAAAmo/_DAiFaXkgrg/w140-h140-p/ChiChi_R_INT.png" style="text-align: center;" width="55" /></a>.</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-2-VjnAAa7B4/VwUyii22ZPI/AAAAAAAAGQQ/IXGyhNPic0YACIEunGEyojv03IReYSsGg/h120/Awakening_4.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-3zVeQlbpklo/VwU584kDJ6I/AAAAAAAAGRo/_TTLKnFZ8M44udmqAAel1uPjzQP1gThOQ/h120/Android_14.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Sirve para hacer Dokkan Awakening a&nbsp;<a href="https://lh3.googleusercontent.com/-aOIAMQ7i1Uk/VuW0U-UgtFI/AAAAAAAAFHA/Uuazntw0HUg5ni5ZiOC6EdZHy4__6Mt6A/h120/SR_TEQ_Android13.png"><img height="55" src="https://lh3.googleusercontent.com/-aOIAMQ7i1Uk/VuW0U-UgtFI/AAAAAAAAFHA/Uuazntw0HUg5ni5ZiOC6EdZHy4__6Mt6A/h120/SR_TEQ_Android13.png" style="text-align: center;" width="55" /></a>.</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-2-VjnAAa7B4/VwUyii22ZPI/AAAAAAAAGQQ/IXGyhNPic0YACIEunGEyojv03IReYSsGg/h120/Awakening_4.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/--XifVMi9POY/VwU59GFTYjI/AAAAAAAAGRs/f4tkw9DXwis1fwbu2dE16M7FyGSdjAFoQ/h120/Android_15.png" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Sirve para hacer Dokkan Awakening a&nbsp;<a href="https://lh3.googleusercontent.com/-aOIAMQ7i1Uk/VuW0U-UgtFI/AAAAAAAAFHA/Uuazntw0HUg5ni5ZiOC6EdZHy4__6Mt6A/h120/SR_TEQ_Android13.png"><img height="55" src="https://lh3.googleusercontent.com/-aOIAMQ7i1Uk/VuW0U-UgtFI/AAAAAAAAFHA/Uuazntw0HUg5ni5ZiOC6EdZHy4__6Mt6A/h120/SR_TEQ_Android13.png" style="text-align: center;" width="55" /></a>.</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-2-VjnAAa7B4/VwUyii22ZPI/AAAAAAAAGQQ/IXGyhNPic0YACIEunGEyojv03IReYSsGg/h120/Awakening_4.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-m77pYDv9dOM/VwU5801iRPI/AAAAAAAAGRw/lRu0xwJyaOMRyxsPa716YCB0Nr_HUEi2A/h120/Android_19.png" width="55" /></div>
</div>
</td><td><div style="text-align: justify;">
Sirve para hacer Dokkan Awakening a&nbsp;<a href="https://lh3.googleusercontent.com/-aOIAMQ7i1Uk/VuW0U-UgtFI/AAAAAAAAFHA/Uuazntw0HUg5ni5ZiOC6EdZHy4__6Mt6A/h120/SR_TEQ_Android13.png"><img height="55" src="https://lh3.googleusercontent.com/-aOIAMQ7i1Uk/VuW0U-UgtFI/AAAAAAAAFHA/Uuazntw0HUg5ni5ZiOC6EdZHy4__6Mt6A/h120/SR_TEQ_Android13.png" style="text-align: center;" width="55" /></a>.</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-2-VjnAAa7B4/VwUyii22ZPI/AAAAAAAAGQQ/IXGyhNPic0YACIEunGEyojv03IReYSsGg/h120/Awakening_4.png" width="55" /></div>
</div>
</td></tr>
</tbody></table>
</center>
</center>
</div>
            
{% endblock %}