{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Que son los Training Locations?</span></b></span></div>
</td></tr>
</tbody></table>
    <br>
<center>

</center>
<div style="text-align: center;">Los Training Locations en Español "Lugares de Entrenamiento" son unos Items obtenibles en el juego, se pueden conseguir mediante Login Bonuses de Bandai, con las Recompensas de los Torneos o en el Evento de&nbsp;<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/training-at-korin-tower.html">Training at Korin Tower</a>.</div>
<div style="text-align: center;">Las Capsulas disponibles para obtener los Training Locations son las siguientes:</div>

<center style="text-align: center;">
<img border="0" height="75" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="75" />&nbsp;<img border="0" height="75" src="https://3.bp.blogspot.com/-9hjWJ4ONJ9s/Vv7303BmLWI/AAAAAAAAGJI/dquQ9rQgSigSiYRwjikvaZ-KVTcR0lXtA/s200/Training_2.png" width="75" />&nbsp;<img border="0" height="75" src="https://2.bp.blogspot.com/-jy4ima3IDvs/Vv732A5oj_I/AAAAAAAAGJM/FHD1OeukFRgfyTkAz-GlozdhDvt5rp6-Q/s200/Training_3.png" width="75" />&nbsp;<img border="0" height="75" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="75" /></center>
<center style="text-align: center;">

</center>
<center style="text-align: center;">
Estos Items los podemos usar cuando entrenemos a un Personaje para subirlo de nivel, la mayoria de los Training Locations dan mas Experiencia al Personaje usado, pero hay algunos que multiplican la Experiencia obtenida por x1,2 o x1,5 o hasta x2.</center>
<center>
    <br>
<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Listado de Training Locations</span></b></span></div>
</td></tr>
</tbody></table>
<center>
<br>
<center>
<table border="1" cellpadding="4" style="text-align: center;"><tbody>
<tr><th><div style="text-align: center;">
Item</div>
</th> <th><div style="text-align: center;">
Función</div>
</th> <th><div style="text-align: center;">
Capsula</div>
</th></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-4oZDxxy4Tbs/Vv_YkHYNw7I/AAAAAAAAGLs/v7SWklNUSUYSr3wIt6tmzy8x_0JX63ebQ/h120/Training_location_01.png" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
No tiene Efecto, es el Training Location Predeterminado.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-AKL6DeoqwRE/Vv_YkJ0pMHI/AAAAAAAAGL0/0LL9Jo8qvgo42elxbXGiDGLoSrKw2Wa6Q/h120/Training_location_02.png" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
Exp&nbsp;+5.000 a Cada Personaje que lo use.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-1hxJJW2d048/Vv_YkRMQUHI/AAAAAAAAGLw/O48_cap3ziIx51TW0Prf0mSoEM8Pww3Mg/h120/Training_location_03.png" style="text-align: center;" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
Exp&nbsp;+10.000 a Cada Personaje que lo use.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://3.bp.blogspot.com/-9hjWJ4ONJ9s/Vv7303BmLWI/AAAAAAAAGJI/dquQ9rQgSigSiYRwjikvaZ-KVTcR0lXtA/s200/Training_2.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-dPwf9GnaDno/Vv_YkukLykI/AAAAAAAAGL4/4jElHboWY8kYdnG0Dk3hAakbF7srKrkNQ/h120/Training_location_04.png" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
Exp&nbsp;+15.000 a Cada Personaje que lo use.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://2.bp.blogspot.com/-jy4ima3IDvs/Vv732A5oj_I/AAAAAAAAGJM/FHD1OeukFRgfyTkAz-GlozdhDvt5rp6-Q/s200/Training_3.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-peskHw5VicA/Vv_YkxLunAI/AAAAAAAAGL8/E1UFEo6TUv8_VVWmcgPHufvASKNYG6t4g/h120/Training_location_05.png" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
Multiplica la Exp Obtenida x 1,2.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://2.bp.blogspot.com/-jy4ima3IDvs/Vv732A5oj_I/AAAAAAAAGJM/FHD1OeukFRgfyTkAz-GlozdhDvt5rp6-Q/s200/Training_3.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-uc_CLOS2MMY/Vv_YlD1BRkI/AAAAAAAAGMA/efRunjURvCo-8Hxe820hqz-LKVAA7zgJg/h120/Training_location_06.png" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
Multiplica la Exp Obtenida x 1,5.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/--Ts3TN_gCAo/Vv_YlUXxOUI/AAAAAAAAGME/EANuvixZRoQR_oNDekhcAbQiRlIYRDkyg/h120/Training_location_07.png" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
Multiplica la Exp Obtenida x 2.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</div>
</td></tr>
<tr><td><div style="text-align: center;">
<div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-6RKJLbnAccE/Vv_YlZ4SVcI/AAAAAAAAGMI/r-JNYhkOf80oIlQ0IWa9kyWiLlo1bi8Gg/h120/Training_location_08.png" width="55" /></div>
</div>
</td> <td><div style="text-align: center;">
Exp&nbsp;+50.000 a Cada Personaje que lo use.</div>
</td> <td><div style="text-align: center;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</div>
</td></tr>
</tbody></table>
<center>
</center>
</center>
</center>
</div>
</center>
</div>    
            
{% endblock %}