{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Qué son los Support Items?</span></b></span></div>
</td></tr>
</tbody></table>
    <br>
<center>

<div style="text-align: center;">
Los Support Items en Español "Objetos de Apoyo" son unos Items obtenibles en el juego que sirven para apoyarnos en los Combates, podemos obtener Items con 4 Capsulas diferentes:

<div style="text-align: center;">
<img height="75" src="https://vignette4.wikia.nocookie.net/dbz-dokkanbattle/images/7/7c/Support_1.png/revision/latest?cb=20151123094148" style="text-align: center;" width="75" />&nbsp;<img height="75" src="https://vignette1.wikia.nocookie.net/dbz-dokkanbattle/images/1/1b/Support_2.png/revision/latest?cb=20151123094157" style="text-align: center;" width="75" />&nbsp;<img height="75" src="https://vignette1.wikia.nocookie.net/dbz-dokkanbattle/images/c/cd/Support_3.png/revision/latest?cb=20151123094204" style="text-align: center;" width="75" />&nbsp;<img height="75" src="https://vignette4.wikia.nocookie.net/dbz-dokkanbattle/images/4/44/Support_4.png/revision/latest?cb=20151123094212" style="text-align: center;" width="75" /></div>

</div>
<div style="text-align: center;">
Hay diversos tipos de Support Items, aunque los mas frecuentes son los que nos curan HP, pero también hay otros Items a tener en cuenta como los que nos aumentan el ATK y la DEF.</div>


<center>
</center>
    <br>
    <center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Listado de Support Items</span></b></span></div>
</td></tr>
</tbody></table>
    <br>
<center>

<center>
<table border="1" cellpadding="4" style="text-align: center;"><tbody>
<tr><th><div style="text-align: center;">
Item</div>
</th> <th><div style="text-align: center;">
Función</div>
</th> <th><div style="text-align: center;">
Capsula</div>
</th></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://vignette3.wikia.nocookie.net/dbz-dokkanbattle/images/6/60/Recovery_Drink.png/revision/latest?cb=20151122213236" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Recupera 2.500 de HP.</div>
</td> <td><div style="text-align: justify;">
<img height="55" src="https://vignette4.wikia.nocookie.net/dbz-dokkanbattle/images/7/7c/Support_1.png/revision/latest?cb=20151123094148" style="text-align: center;" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://vignette1.wikia.nocookie.net/dbz-dokkanbattle/images/9/93/Super_Recovery_Drink.png/revision/latest?cb=20151122213248" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Recupera 6.000 de HP.</div>
</td> <td><div style="text-align: justify;">
<img height="55" src="https://vignette4.wikia.nocookie.net/dbz-dokkanbattle/images/7/7c/Support_1.png/revision/latest?cb=20151123094148" style="text-align: center;" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://vignette3.wikia.nocookie.net/dbz-dokkanbattle/images/6/6e/Ultra_Recovery_Drink.png/revision/latest?cb=20151122213255" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Recupera 10.000 de HP.</div>
</td> <td><div style="text-align: justify;">
<img height="55" src="https://vignette1.wikia.nocookie.net/dbz-dokkanbattle/images/1/1b/Support_2.png/revision/latest?cb=20151123094157" style="text-align: center;" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://vignette3.wikia.nocookie.net/dbz-dokkanbattle/images/b/b2/Ultimate_Recovery_Drink.png/revision/latest?cb=20151122213303" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Recupera 15.000 de HP.</div>
</td> <td><div style="text-align: justify;">
<img height="55" src="https://vignette1.wikia.nocookie.net/dbz-dokkanbattle/images/1/1b/Support_2.png/revision/latest?cb=20151123094157" style="text-align: center;" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: justify;">
<div style="text-align: center;">
<img height="55" src="https://vignette3.wikia.nocookie.net/dbz-dokkanbattle/images/b/bc/Korin_Herb_Blend.png/revision/latest?cb=20151122213310" width="55" /></div>
</div>
</td> <td><div style="text-align: justify;">
Recupera el Estado de un Personaje.</div>
</td> <td><div style="text-align: justify;">
<img height="55" src="https://vignette1.wikia.nocookie.net/dbz-dokkanbattle/images/c/cd/Support_3.png/revision/latest?cb=20151123094204" style="text-align: center;" width="55" /></div>
</td></tr>
</tbody></table>
<center>
</center>
</center>
</center>
</div>
</center>
</div>

            
{% endblock %}