{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

    <center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;¿Qué son los Training Items?</span></b></span></div>
</td></tr>
</tbody></table>
    
<div class="separator" style="clear: both; text-align: center;">
</div>
    <br>
<center style="text-align: center;">
Los Training Items o en Español "Objetos de Entrenamiento" son unos Items obtenibles en el juego que son utilizados para subir de Nivel los Personajes, lo cual significa que no hace falta jugar con los Personajes para subirlos de nivel es decir, que con estos Items suben sin haber de jugar con ellos.</center>
<center>
</center>
<center>
</center>
<center>
<img border="0" height="320" src="https://3.bp.blogspot.com/-Po9zEI-0pAQ/VwplOcwWLRI/AAAAAAAAGj0/goFc9jb83cgv3AOVl8uxbJvOOmdwqxkhQ/s320/Foto%2BTraining%2BItems.jpg" width="212" /></center>
<center>
</center>
<center>
</center>
<center style="text-align: center;">
Como bien veréis a continuación hay 10 Tipos diferentes de Training Items que nos darán de 1.000 de Exp el más bajo hasta 150.000 de Exp el mas alto, más adelante añadirán al juego las Platinum Turtle Shell que darán hasta 450.000 de Experiencia.</center>
<center>
    <br>
<center>
    
<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#04B4AE" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Listado de Training Items</span></b></span></div>
</td></tr>
</tbody></table>
   
<center>
</center>
</div>
</center>
</center>
</div>
    <br>
<center>
<table border="0" cellpadding="5" cellspacing="5" style="width: 100%px;"><tbody>
<tr>  <td width="50%"><div style="text-align: center;">
Turtle Rock</div>
<table border="1"><tbody>
<tr>  <th><div style="text-align: center;">
Item</div>
</th>  <th><div style="text-align: center;">
Exp a otro Tipo</div>
</th> <th><div style="text-align: center;">
Exp al Mismo Tipo</div>
</th>  <th><div style="text-align: center;">
Capsula</div>
</th> </tr>
<tr>  <td><div style="text-align: center;">
<div class="separator" style="clear: both; text-align: center;">
&nbsp;<img height="55" src="https://1.bp.blogspot.com/-JLoOIy0hIAQ/VwpGnA-aGbI/AAAAAAAAGfY/r4rduHe_RXk24LJHPyCC5AHflBJmyDFDw/s1600/Turtle_rock_STR.png" width="55" />&nbsp;</div>
</div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
1.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
1.500</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-HdkpvbLmZLU/VwpGmj90k1I/AAAAAAAAGfU/ewsx-6GcX4Y6K2KiYUVdzrS8LBAOnbmFQ/h120/Turtle%2BRock%2BAGL.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
1.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
1.500</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-Hv9eVHIsw90/VwpGnRkNCKI/AAAAAAAAGfg/tW_qGvTY3Eo5k29B70F3D8Ji6wPFLkCJg/h120/Turtle_rock_TEQ.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
1.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
1.500</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-EnOt01mTH-0/VwpGmvrx5VI/AAAAAAAAGfQ/k6WNQlOFPUQgx3RvXE1w3pPAX9rCappMA/h120/Turtle_rock_INT.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
1.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
1.500</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-vzs5KV2Hlls/VwpGmrxt0fI/AAAAAAAAGfM/Myivn3zC1tonyjaQYdp5rOBqHksca0LUg/h120/Turtle_rock_PHY.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
1.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
1.500</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-7Z3LsQ-XsDQ/Vv6xrXYaHXI/AAAAAAAAGI4/LR40Fyu_y9MOstEcEC3Z7yPojDnFR5tdw/s200/Training_1.png" width="55" /></div>
</div>
</td> </tr>
</tbody></table>
</td>  <td width="50%"><div style="text-align: center;">
Turtle Shell (20k)</div>
<table border="1"><tbody>
<tr>  <th><div style="text-align: center;">
Item</div>
</th>  <th><div style="text-align: center;">
Exp a otro Tipo</div>
</th> <th><div style="text-align: center;">
Exp al Mismo Tipo</div>
</th>  <th><div style="text-align: center;">
Capsula</div>
</th> </tr>
<tr>  <td><div style="text-align: center;">
&nbsp;<img height="55" src="https://lh3.googleusercontent.com/-3f7sEzcSrrc/VwpGoSW0GYI/AAAAAAAAGfs/t-4RV3XUGG84O1QAaY54tqHANiwIUy8Bw/h120/Turtle_shell_20k_STR.png" width="55" />&nbsp;&nbsp;</div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
2.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
3.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://3.bp.blogspot.com/-9hjWJ4ONJ9s/Vv7303BmLWI/AAAAAAAAGJI/dquQ9rQgSigSiYRwjikvaZ-KVTcR0lXtA/s200/Training_2.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-rFx9sY-feOg/VwpGnjUDWuI/AAAAAAAAGfc/unPoy580HrMwCVD-A3aHmxA-huDDS9cLw/h120/Turtle_shell_20k_AGL.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
2.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
3.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://3.bp.blogspot.com/-9hjWJ4ONJ9s/Vv7303BmLWI/AAAAAAAAGJI/dquQ9rQgSigSiYRwjikvaZ-KVTcR0lXtA/s200/Training_2.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-WJv-XlCnB0g/VwpGoXAaApI/AAAAAAAAGfw/UYxYljrjgWU4_2_O6gkH4gatXvob2xnTA/h120/Turtle_shell_20k_TEQ.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
2.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
3.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://3.bp.blogspot.com/-9hjWJ4ONJ9s/Vv7303BmLWI/AAAAAAAAGJI/dquQ9rQgSigSiYRwjikvaZ-KVTcR0lXtA/s200/Training_2.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-v-7wtHx2YII/VwpGn80hRMI/AAAAAAAAGfk/eU8tNadaR-kY8DScqtSHRIGu_FLBw1-bw/h120/Turtle_shell_20k_INT.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
2.000</div>
</div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
3.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://3.bp.blogspot.com/-9hjWJ4ONJ9s/Vv7303BmLWI/AAAAAAAAGJI/dquQ9rQgSigSiYRwjikvaZ-KVTcR0lXtA/s200/Training_2.png" width="55" /></div>
</div>
</td> </tr>
<tr>  <td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-TRaP_kIdlnU/VwpGoE256OI/AAAAAAAAGfo/V9GWWnjC7y0BAMnmJ6_nkOKZy4FLEmYbw/h120/Turtle_shell_20k_PHY.png" width="55" /></div>
</td>  <td><div style="text-align: justify;">
<div style="text-align: center;">
2.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
3.000</div>
</div>
</td> <td><div style="text-align: justify;">
<div style="text-align: center;">
<img border="0" height="55" src="https://3.bp.blogspot.com/-9hjWJ4ONJ9s/Vv7303BmLWI/AAAAAAAAGJI/dquQ9rQgSigSiYRwjikvaZ-KVTcR0lXtA/s200/Training_2.png" width="55" /></div>
</div>
</td></tr>
</tbody></table>
</td>  </tr>
</tbody></table>
<center>
</center>
</center>

    <br>
<div style="text-align: center;">Platinum Turtle Shell</div>
<center>
<table border="1" cellpadding="4"><tbody>
<tr><th>Item</th> <th>Exp a Otro Tipo</th> <th>Exp al Mismo Tipo</th><th>Capsula</th></tr>
<tr><td><div style="text-align: center;">
&nbsp;<img height="55" src="https://lh3.googleusercontent.com/-BsblL6Vm1sw/VwpfJqg4alI/AAAAAAAAGjg/X-Hi_KedjAE-lNRBtttJqDeDEVWn3zDkQ/h120/Platinum_Turtle_Shell_STR.png" width="55" />&nbsp;</div>
</td> <td><div style="text-align: center;">
300.000</div>
</td> <td><div style="text-align: center;">
450.000</div>
</td><td><div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-8Q6ahhQg9gY/VwpfJFSsOtI/AAAAAAAAGjY/QHMtQzqMwZI6K1CRFWFhTj_ZbeeSsINSQ/h120/Platinum_Turtle_Shell_AGL.png" width="55" /></div>
</td> <td><div style="text-align: center;">
300.000</div>
</td> <td><div style="text-align: center;">
450.000</div>
</td><td><div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-q5faMhpf0rg/VwpfJz1TlbI/AAAAAAAAGjk/RWxBXiucbeEnQdjUE9SyG8SsJpzEjaOkg/h120/Platinum_Turtle_Shell_TEQ.png" width="55" /></div>
</td> <td><div style="text-align: center;">
300.000</div>
</td> <td><div style="text-align: center;">
450.000</div>
</td><td><div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-TJ5Ch0h_66o/VwpfJMQzY_I/AAAAAAAAGjc/B2q6tfL3QJolYEZO0aVFi-Frui-PuwCsQ/h120/Platinum_Turtle_Shell_INT.png" width="55" /></div>
</td> <td><div style="text-align: center;">
300.000</div>
</td> <td><div style="text-align: center;">
450.000</div>
</td><td><div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</td></tr>
<tr><td><div style="text-align: center;">
<img height="55" src="https://lh3.googleusercontent.com/-64r10QBCuBk/VwpfJPvIQkI/AAAAAAAAGjU/6qNzGMuiQ_cNU9HGYShhcdl2JCICGyA4w/h120/Platinum_Turtle_Shell_PHY.png" width="55" /></div>
</td> <td><div style="text-align: center;">
300.000</div>
</td> <td><div style="text-align: center;">
450.000</div>
</td><td><div style="text-align: center;">
<img border="0" height="55" src="https://1.bp.blogspot.com/-Jp-6sM4qUlk/Vv733K7GtII/AAAAAAAAGJQ/QNMq4WUKTuIr5uJG5KxRwiOX03Z8t9aUg/s200/Training_4.png" width="55" /></div>
</td></tr>
</tbody></table>
<center>
</center>
</center> 
            
{% endblock %}