{% extends "DokkanBundle::layout.html.twig"%}
{% block content %}
            
    <div class="col-lg-6">
        <h2>Afegir Categories</h2> 
        <hr/>
        {{form_start(form, {'action':'', 'method':'POST'})}}
        {{form_end(form)}}
    </div>
            
    <div class="clearfix"></div>
{% endblock %}