{% extends "DokkanBundle::layout.html.twig"%}
{% block content %}
            
    <div class="col-lg-6">
        <h2>Editar Categoria</h2> 
        <hr/>
        {{form_start(form)}}
        {{form_end(form)}}
    </div>
            
    <div class="clearfix"></div>
{% endblock %}