{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                Títol Principal de l'Entrada 1
              </h2>
              <h3 class="post-subtitle">
                Subtitol i Introducció al Contingut 1
              </h3>
            </a>
            <p class="post-meta">Publicat per:
              <a href="#">Rallito (Admin)</a>
            </p>
          </div>
          <hr>
          <div class="post-preview">
            <a href="#">
              <h2 class="post-title">
                Títol Principal de l'Entrada 2
              </h2>
              <h3 class="post-subtitle">
                Subtitol i Introducció al Contingut 2
              </h3>
            </a>
            <p class="post-meta">Publicat per:
              <a href="#">Rallito (Admin)</a>
            </p>
          </div>
          <hr>
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Entrades anteriors &rarr;</a>
          </div>
        </div>
      </div>
    </div>

    <hr>

{% endblock %}