{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

<div class="separator" style="clear: both; text-align: center;">
Estos son los Torneos Disponibles de la Versión Global, clicad en el que queráis para Acceder a sus Recompensas, Misiones y Novedades.</div>
<div class="separator" style="clear: both; text-align: center;">

</div>
<center>
<table border="0" cellpadding="4" style="text-align: center;"><tbody>
<tr><td><div class="separator" style="clear: both;">
<b>The 1st World Tournament</b></div>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-first-world-tounament.html"><img border="0" height="93" src="https://2.bp.blogspot.com/-H_tru59nPfs/Vr9JpTu-pwI/AAAAAAAAD9I/6VNEj74WBWo/s320/1%25C2%25BA%2BTorneo%2BMundial.png" width="320" /></a></div>
</td><td><div class="separator" style="clear: both;">
<b>The 2nd World Tournament</b></div>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-second-world-tournament.html"><img border="0" height="93" src="https://2.bp.blogspot.com/-0BoZoIkbR14/Vr9JpUEqzbI/AAAAAAAAD9Q/CdzIUYYT57M/s320/2%25C2%25BA%2BTorneo%2BMundial.png" width="320" /></a></div>
</td></tr>
<tr><td colspan="0"><div class="separator" style="clear: both;">
<b>The 3rd World Tournament</b></div>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-third-world-tournament.html"><img border="0" height="93" src="https://4.bp.blogspot.com/-aG8YsT_5Vio/Vr9JpUduXnI/AAAAAAAAD9M/rhEhFn9yK4s/s320/3%25C2%25BA%2BTorneo%2BMundial.png" width="320" /></a></div>
</td> <td colspan="0"><div class="separator" style="clear: both;">
<b>The 4th World Tournament</b></div>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-fourth-world-tournament.html"><img border="0" height="93" src="https://2.bp.blogspot.com/-syxPrF7I0kM/VvE4lwrrg0I/AAAAAAAAFsY/U9mlcJME0go72muUZrn1miTyaRwvD_4jg/s320/The%2BFourth%2BWorld%2BTournament.jpg" width="320" /></a></div>
</td></tr>
<tr><td colspan="0"><b>The 5th World Tournament</b>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-fifth-world-tournament.html"><img border="0" height="93" src="https://1.bp.blogspot.com/-PNH4SjTKYp4/VyTvNzWSXSI/AAAAAAAAGzQ/pSmaVrxODEoBjwAv6I1VDTvB85iIrb_7gCLcB/s320/The%2BFifth%2BWorld%2BTournament%2B%2528Peque%25C3%25B1a%2529.jpg" width="320" /></a></div>
</td> <td colspan="0"><b>The 6th World Tournament</b>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-sixth-world-tournament.html"><img border="0" height="93" src="https://2.bp.blogspot.com/-w0uYueEOw14/V03ZcHQCiPI/AAAAAAAAHM4/_IKIyhH0sqIZcXnoKXVtIWFIboPHRt-EgCLcB/s320/The%2B6%2BWorld%2BTournament.jpg" width="320" /></a></div>
</td> </tr>
<tr><td colspan="0"><b>The 7th World Tournament</b>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-seventh-world-tournament.html"><img border="0" height="93" src="https://4.bp.blogspot.com/-hBCfXOKFmsw/V3EXTNWfgJI/AAAAAAAAHrc/IGDATlo3nokk10-a6uhx2N9tO_NxtB9JACLcB/s320/The%2BSeventh%2BWorld%2BTournament.jpg" width="320" /></a></div>
</td><td colspan="0"><b>The 8th World Tournament</b>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-8th-world-tournament.html"><img border="0" height="93" src="https://2.bp.blogspot.com/-irOO2lOZs3g/V5oA6q_csjI/AAAAAAAAH5c/nsJGBUh9K3M3eNbkvWPPcKPEeMoJ_7DGwCLcB/s320/The%2B8th%2BWorld%2BTournament.jpg" width="320" /></a></div>
</td></tr>
<tr><td colspan="0"><b>The 9th World Tournament</b>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-9th-world-tournament.html"><img border="0" height="93" src="https://1.bp.blogspot.com/-q2byxYKUEvA/V-2Bkxv6XoI/AAAAAAAAITw/5XAHh42q_-MJCBGCFqmoHVW-v4MZhlPPACLcB/s320/The_9th.jpg" width="320" /></a></div>
</td><td colspan="2"><b>The 10th World Tournament</b>
<div class="separator" style="clear: both; text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-10th-world-tournament.html"><img border="0" height="93" src="https://2.bp.blogspot.com/-ab9N7eQpueU/V-2B3X9ireI/AAAAAAAAIT0/AfqDtX1F-vwKwBMKQwuA4rpcwOIIlHlowCLcB/s320/The%2B10th%2BWorld%2BTournament.jpg" width="320" /></a></div>
</td></tr>
</tbody></table>
</center>
<br>
<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#FE642E" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;Consejos para los World Tournaments</span></b></span></div>
</td></tr>
</tbody></table>

<br>
    
<div class="mini-titol">
<b>1. Acércate lo máximo que puedas al Rank 210. </b><o:p></o:p></div>
<div class="contingut-mini-titol">

</div>
<div class="contingut-mini-titol" style="text-align: justify;">
¿Por qué? Simplemente en ese punto tendrás 120 stamina, lo que equivale a hacer dos rondas completas de Torneo, con lo que los refill te costarán menos. <o:p></o:p></div>
<div class="contingut-mini-titol" style="text-align: justify;" >
Por contra, subir de nivel será un suplicio (empezarás a necesitar 170k+ de experiencia para un refill natural de stamina), por lo que tiene su handicap en el tiempo invertido para ganar el refill de stamina “gratuito”.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>2. Analiza tus personajes</b><o:p></o:p></div>
<div class="contingut-mini-titol">

</div>
<div class="contingut-mini-titol" style="text-align: justify;" >
Mira detenidamente qué personajes tienes a tu disposición. Analizar los links que disponen tus personajes, su ataque o HP, sus virtudes o debilidades te ayudarán a seleccionar un equipo ganador o caer en el olvido.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>3. Lleva un Equipo Multitipo (en la mayoría de ocasiones)</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Da igual que tengas un Equipo Full TEQ mejor que ninguno. Es importante tener al menos UN personaje de cada tipo. Esto es así porque la mayoría de equipos con los que te enfrentes tendrán, al menos, un personaje de cada tipo, con lo que te será más fácil matarlos de un solo golpe aprovechando las fortalezas de un tipo frente a otro.<o:p></o:p></div>
<div class="contingut-mini-titol" style="text-align: justify;" >
<u>EXCEPCIÓN</u>: con la irrupción de Broly y el link Super Saiyan es fácil irse a un torneo con equipo full STR y realizar KOs con un solo golpe. Este siendo un caso muy específico.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>4. Intenta llevar un equipo full UR (o LR)...</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Mayor el team cost, mayor el número de puntos que harás. Con lo que más arriba de la tabla quedarás. Ya ni comentamos si los personajes deben estar z-awakened, porque creemos que es de lógica. Ah, y en cuanto aparezca un LR (hablamos de Broly) hazte con él. Hay registrados Torneos con 170-180k de puntos, una burrada.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: left;">
<b>5. …pero respeta los link skills para ayudarte a…</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Hay link skills que te facilitarán la faena. En el caso de no tener un buen equipo UR que tiene links que potencian su ki o ataque, siempre es prioritario que haya equipos de 3 ó 2 con algún link. Hay algunos personajes que pueden ir por libre debido a su ataque base (SSJ3 o Golden / Final Form Frieza te miro a ti), pero no es lo común.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>6. ...hacer KO a los enemigos de un golpe o con un Super Attack</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
El número de ataques está restringido a 9 por batalla, por lo que con ataques Super conseguirás un plus de puntos. Además, intenta acabar con un Dokkan Super Attack la Fase 1, tendrás más puntos.<o:p></o:p></div>

<br>


<div class="mini-titol" style="text-align: justify;">
<b>7. Usa un líder +2 ki o +25% (+30%) ATK All Types</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Tenemos dos escenarios: equipo con ataque enorme o equipo con ataque mediocre. En el primer caso, priorizaremos un leader con +2 ki para espolear a SA, mientras en el otro caso pondremos un líder de +25% de ATK up.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>8. Equípate con Senzu beans, Fantasmas y Oolong / Puar</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Ármate de algunas Seenzu o Dende para recuperar la vida y Fantasmas para evitar daño masivo cuando 3 enemigos ataquen a un solo personaje. Vas a perder muchos ítems durante el camino, así que prepárate bien.<o:p></o:p></div>
<div class="contingut-mini-titol" style="text-align: justify;" >
También es recomendable usar Oolong / Puar en los ataques 7 a 9 para evitar que el enemigo se nos escape y no lo matemos del todo.<o:p></o:p></div>
<div class="contingut-mini-titol" style="text-align: justify;" >
Recomendamos farmear en Battle Royale (historia de Ressurection of F), 100k de zeni + ítems por un tubo.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>9. Los SA del enemigo son raros, pero te pueden fastidiar</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
No te confíes. parece que no hay SA por parte del contrario, pero cuanto menos te lo esperes PUM, fuera. Hay siempre unos sospechosos habituales, así que intenta matarlos siempre en cuanto tengas oportunidad.<o:p></o:p></div>
>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>10. Calibra bien tus expectativas.</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Es importante saber QUÉ esperas del Torneo y QUÉ estás dispuesto a dar de ti. Hay varios caminos, y en ellos diferentes técnicas. Nosotros presuponemos algunos de ellos, según lo que quieras conseguir.<o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;">
<b><i>&nbsp; &nbsp; &nbsp; A) No me interesa mucho el Torneo</i></b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Juega eventualmente a él, intenta llegar a los 20 Torneos, normalmente a partir del Torneo 30 entramos en pérdidas en cuanto a Dragon Stones vs. rendimiento en el Torneo. Calculamos un recuento de horas que hasta Krillin se sonrojaría.<o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;">
<b><i>&nbsp; &nbsp; &nbsp;B) Vengo a por el SSR garantizado</i></b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Empieza ya. Y corre. No esperes. Es una carrera de fondo, pero 100 Torneos son, de media, 13,5 millones de puntos. Unas 25h de juego aproximadamente. Ahora ya lo sabes, no es tan fácil como te lo plantean. Si llega el límite de 80 Torneos simplemente haz la regla de 3.<o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;">
<b><i>&nbsp; &nbsp; &nbsp;C) Quiero el personaje exclusivo</i></b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Y yo quiero una casa en el campo, nena. En ese caso, ten en cuenta algo, el mejor rendimiento para conseguir puntos (que al final es lo que vale la pena, y no los Torneos), es hacer la Fase 1 y retirarse. yo recomiendo hacer 30-50 torneos, donde no hay pérdidas reales de Dragon Stones y después decidir si llegar a 70 por las 7ds gratuitas o alternar haciendo Fases 1 para conseguir un mayor ratio de puntos.<o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
En cálculos aproximados, los 150k de puntos que equivalen a un “buen” Torneo con 60 stamina equivalen a casi el doble si hacemos Fases 1. Ahora entiendes por qué cuando haces una Fase 1 adelantas casi 30 puestos y luego te quedas más varado que un Oolong en la playa.<o:p></o:p></div>

<div class="contingut-mini-titol"style="text-align: justify;" >
De todas maneras, todo esto lleva a una suprema recomendación...<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>11. El último día NO DUERMAS</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
<u>Básicamente, olvídate de dormir</u>. Ármate de los Red Bulls esos rojos del juego y reza. Porque vas a necesitar mucho temple.<o:p></o:p></div>
<div class="contingut-mini-titol" style="text-align: justify;" >
Y, en serio, no duermas. Te van a dar por el Chi Chi.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>12. Usa los tickets DB, piénsate si vale la pena usar los SSR</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Por lo que sabemos, NO hay nuevos personajes en los tickets DB, así que úsalos tranquilo, no caducan nunca. Igual para los SSR, con la diferencia que en cada torneo el pool se amplía con los personajes que han aparecido en el período entre Torneos. Está en tu mano decidir si vale la pena o no usarlos.<o:p></o:p></div>

<br>

<div class="mini-titol" style="text-align: justify;">
<b>13. Los Torneos aparecen cada mes, mes y medio</b><o:p></o:p></div>

<div class="contingut-mini-titol" style="text-align: justify;" >
Por lo que ya te puedes ir preparando el calendario para cuando no tengas que dormir.<o:p></o:p></div>
</div>
            
{% endblock %}