{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

<!-- TR Marca la FILA  --> <!-- TD La COLUMNA --> <!-- HREF sirve para poner enlaces  -->  
<div class="separator" style="clear: both; text-align: center;">
</div>

<div style="overflow-x:auto;">

<center>
<table border="5" cellpadding="10" cellspacing="1"><tbody>

<tr align="center" valign="middle">
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_35.html"><img height="100" src="https://lh3.googleusercontent.com/-PB9opDpHjz4/VcJXimTVDHI/AAAAAAAAAUE/OEPCg3S_qWk/h120/RRSoldier_N_AGL.png" width="100" /></a>
    <br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_35.html">RR Soldier</a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-earthborn-warrior-saibaman-n-agl.html"><img height="100" src="https://lh3.googleusercontent.com/-8uKSWw_Hlxk/VcJXi5K8seI/AAAAAAAAAUo/ZRXGFIfnpAs/w140-h140-p/Saibaman_N_AGL.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-earthborn-warrior-saibaman-n-agl.html">Saibaman</a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_74.html"><img height="100" src="https://lh3.googleusercontent.com/-Bn4BkBoazKI/VcJXiA4O2lI/AAAAAAAAAUg/JjQE-z9kJ10/w140-h140-p/FriezaSoldier_N_AGL.png" width="100" /></a>  
</span><span style="color: black;">
    <br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_74.html">Frieza Soldier</a></span></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_6.html"><img height="100" src="https://lh3.googleusercontent.com/-3WVRPnjwLGk/VcJXiJFYY0I/AAAAAAAAAUk/mGJUEomDlEQ/w140-h140-p/CellJr_N_AGL.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_6.html">Cell Jr</a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-unarmed-power-pintar-n-agl.html"><img height="100" src="https://lh3.googleusercontent.com/-S0PBXrs_NAQ/VcJXiNjbgJI/AAAAAAAAAUc/-i-34GXiCG0/w140-h140-p/Pintar_N_AGL.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-unarmed-power-pintar-n-agl.html">Pintar</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_42.html"><img height="100" src="https://lh3.googleusercontent.com/-qRCSMn28KDw/VcJXjH0oP2I/AAAAAAAAAUU/_wauiZCwZeA/w140-h140-p/Yakon_N_AGL.png" width="100" /></a>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_42.html">Yakon</a></td>
</tr>

<tr align="center" valign="middle">
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_15.html"><img height="100" src="https://lh3.googleusercontent.com/-_mhPi1FrDao/VcJaQ6coJoI/AAAAAAAAAZo/dtfv1_KSU8I/w140-h140-p/Buter_R_AGL.png" width="100" /></a>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_15.html">Burter</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_80.html"><img height="100" src="https://lh3.googleusercontent.com/-6iQjoZ_OOFA/VcJaSN8K2qI/AAAAAAAAAY0/pikVwvXRAu4/w140-h140-p/TaoPaiPai_R_AGL.png" width="100" /></a>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_80.html">Tao Pai Pai</a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-terrors-descend-drum-r-agl.html"><img height="100" src="https://lh3.googleusercontent.com/-aIMHMFtaw0k/VcJaRXta9CI/AAAAAAAAAYg/EIkEWQuEkB8/w140-h140-p/Drum_R_AGL.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-terrors-descend-drum-r-agl.html">Drum</a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/blog-page_11.html">  <img alt="   " height="100" src="https://lh3.googleusercontent.com/-_LDjxHXNcFQ/VcJaSC4NrSI/AAAAAAAAAZc/k4nm_G1pojI/w140-h140-p/Raditz_R_AGL.png" width="100" />  </a>  </span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/blog-page_11.html">Raditz </a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-wisdom-and-experience-krillin-sr.html"><img height="100" src="https://lh3.googleusercontent.com/-HJyBxoGmFWU/VcJaRsts4mI/AAAAAAAAAYs/EwPlZLQKU7A/w140-h140-p/Krillin_R_AGL.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-wisdom-and-experience-krillin-sr.html">Krillin</a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_25.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_25.html" height="100" src="https://lh3.googleusercontent.com/-Jjcm7jrNiZk/VcJaQ3GuTxI/AAAAAAAAAZs/qjU6dBIsvJ8/w140-h140-p/Buter2_R_AGL.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_25.html">Burter</a></td>
</tr>

<tr align="center" valign="middle">
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_8.html"><img height="100" src="https://2.bp.blogspot.com/-07yAFlNhaAw/Vn18L2w5f6I/AAAAAAAAB4k/lHue0vnt0Qk/s1600/SR_AGL_Dabura.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_8.html">Dabra</a></td>
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_75.html"><img height="100" src="https://3.bp.blogspot.com/-Gqvds0fTl_E/Vn18KZ221yI/AAAAAAAAB4A/a64rMelLe6g/s1600/11.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_75.html">Thouser</a></td>
 <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/devilish-deception-devilman-sr-agl.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_73.html" height="100" src="https://1.bp.blogspot.com/-0y6ihoitzs4/Vn18JYKb6KI/AAAAAAAAB3w/fjcW5_5grpo/s1600/1.png" width="100" /></a>   
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/devilish-deception-devilman-sr-agl.html">Devilman</a></td>
 <td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_38.html"><img height="100" src="https://4.bp.blogspot.com/-6NWBpeQj7EA/Vn18K1MRghI/AAAAAAAAB4M/jYy1pJkL9qQ/s1600/18.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_38.html">Gohan Adulto</a></td>
 <td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_21.html"><img height="100" src="https://lh3.googleusercontent.com/-J8FzZc493Xo/VcJxS9-ieoI/AAAAAAAAAbQ/4Xk0-ajL9GM/w140-h140-p/Yamcha2_SR_AGL.png" width="100" /></a></span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_21.html">Yamcha
<td><span style="color: black;"><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-promision-son-goten-nino-super.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-goten-ragl.html" height="100" src="https://2.bp.blogspot.com/-JqMTyBTPL0U/Vn18MX35uFI/AAAAAAAAB4s/zXXXV9dCXpo/s1600/SR_AGL_SSGoten%2528KID%2529.png" width="100" /></a> </span>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-promision-son-goten-nino-super.html">Goten SS</a></td>  
</tr>

<tr align="center" valign="middle">
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-pinnacle-of-evil-golden-freezer_2.html"><img height="100" src="https://3.bp.blogspot.com/-qSFJewwdmVs/Vn18KqlJEgI/AAAAAAAAB4I/TnaBsqIh4s0/s1600/18%2B%25282%2529.png" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-pinnacle-of-evil-golden-freezer_2.html">G. Freezer (5)</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-ever-evolving-legend-vegeta.html"><img height="100" src="https://lh3.googleusercontent.com/-8jiQOGOhxVw/VoFytgPFpLI/AAAAAAAACJE/PR0ThR56ztA/w140-h140-p/Vegeta%2BSSGodSS.png" width="100" /></a>
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-ever-evolving-legend-vegeta.html">Vegeta SSGSS</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_82.html"><img height="100" src="https://lh3.googleusercontent.com/-LRaanYmlKNY/Vg6o2AYAg6I/AAAAAAAABMI/-2BGQdsPtNE/h1600/Gohan%2528Teen%2529_SSR_AGL.png" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_82.html">Gohan SS2</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/stunning-metamorphosis-goku-ss3.html"><img alt="" height="100" src="https://4.bp.blogspot.com/-E2D0gtPeo_g/Vyo5iL3-EYI/AAAAAAAAG5c/CCK1EWtiNEYNKKGG9E0KRiKGyY0McBmLgCLcB/s1600/Goku%2BSS3%2BSSR%2BAGL.jpg" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/stunning-metamorphosis-goku-ss3.html">Goku SS3</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_46.html"><img height="100" src="https://4.bp.blogspot.com/-bVJc15gumhA/Vn18JShB08I/AAAAAAAAB3s/-Y99DHwYFfs/s1600/1%2B%25283%2529.png" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_46.html">Roshi (MP)</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/double-power-gotenks-ssr-agl.html"><img alt="" height="100" src="https://3.bp.blogspot.com/-haJIarSAVio/VvhUEcFnpOI/AAAAAAAAF5g/eR4FZsGhLpozc35ViMPOhevvlI1ilhnYA/s1600/Gotenks%2BSR%2BAGL.jpg" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/double-power-gotenks-ssr-agl.html">Gotenks</a></td>
</tr>

<tr align="center" valign="middle">
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/uncontrollable-instinct-majin-buu-kid.html"><img alt="" height="100" src="https://2.bp.blogspot.com/-E6EVXbuK6bs/VvrpYcCb8WI/AAAAAAAAF_o/4WeSxYq39DAb6HzqgIwASJtJUdzZTHouQ/s1600/Buu%2B%2528Kid%2529%2BUR%2BAGL.jpg" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/uncontrollable-instinct-majin-buu-kid.html">Buu (Kid)</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/mystery-super-technique-goku-ss3-ur-agl.html"><img alt="" height="100" src="https://4.bp.blogspot.com/-IkPyxl79Qug/Vyon-P2BfVI/AAAAAAAAG3M/tKkFFIpAw-8tqrkQ-X9JjPU4ZKmANwgEQCLcB/s1600/Goku%2BSS3%2BUR%2BAGL.jpg" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/mystery-super-technique-goku-ss3-ur-agl.html">Goku SS3</a></td>
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/further-growth-goku-ss-ur-agl.html"><img alt="" height="100" src="https://2.bp.blogspot.com/-PondBNvONPM/Vzxtwv7jnjI/AAAAAAAAHEY/ZypqUBrzXtQPGm-dU45x6HEQZYAwIs7HQCLcB/s1600/Goku%2BUR%2BAGL.jpg" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/further-growth-goku-ss-ur-agl.html">Goku SS</a></td> 
<td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/exceptional-potencial-ultimate-gohan-ur.html"><img alt="" height="100" src="https://1.bp.blogspot.com/-_4XGnGkN7i4/V6yLdOs30iI/AAAAAAAAH-I/zVRd9YafIj8Eqe8tuXzdY4kiKCa1YSgYgCLcB/s1600/Gohan%2BUR%2BAGL.jpg" width="100" /></a> 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/exceptional-potencial-ultimate-gohan-ur.html">Gohan DEF</a></td>
</tr>
</tbody></table>
</div>
</center>

{% endblock %}