{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}
    <center>
<div class="separator" style="clear: both; text-align: center;">
<img border="0" height="166" src="{{asset('bundles/dokkan/img/Dokkan Awaken.png')}}" width="400" /></div>
<div style="text-align: center;">
<div class="separator" style="clear: both; text-align: center;">
</div>
</div>
<center>
</center>
<center>
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#FF8000" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;¿Que Significa Dokkan Awaken?</span></b></span></div>
</td></tr>
</tbody></table>

    <br>
    
<table border="1" cellpadding="10" cellspacing="0"><tbody>
<tr><td>Para los que no lo sepan:

Dokkan Awaken es la manera de evolucionar a un personaje en otro que llegará a ser mejor, dependiendo de que Personaje sea puede que cambie de Tipo.

<br>
Para ello necesita:
<ul>
<li>Estar a nivel máximo</li>
<li>Estar Z-Awaken</li>
<li>Hacerle otro Awaken con todas las medallas que pida esta vez.</li>
</ul>
</td></tr>
</tbody></table>
</center>

<br>

<span style="background-color: white; color: #333333; font-size: 14.85px; line-height: 20.79px; text-align: center;">
</span> 
<table cellpadding="5" cellspacing="2" style="text-align: justify; width: 800px;"><tbody>
<tr><td bgcolor="#FF8000" width="150"><div style="text-align: center;">
<span style="color: white;"><b><span style="color: white;">&nbsp; &nbsp;</span><span style="color: white;">&nbsp;</span>&nbsp;<span style="font-family: inherit;">&nbsp;¡Dokkan Awakening Disponibles!</span></b></span></div>
</td></tr>
</tbody></table>

<br>

<center>
<table border="5" cellpadding="10" cellspacing="1"><tbody>
<tr align="center" valign="middle">   <td><img height="100" src="https://lh3.googleusercontent.com/-bnTdLf5LoU8/Vn3BSZdHQkI/AAAAAAAACBg/EWvvQjfncyM/h120/13.png" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/gohan-def-ssr-phy-dokkan-awaken.html">Gohan DEF</a></div>
</td>   <td><img height="100" src="https://4.bp.blogspot.com/-L1DH3sHt4rc/V6259BnphJI/AAAAAAAAH_E/1__QMda0ZSwO7LMNirnsimCyj8wfYMUjgCLcB/s1600/Gohan%2BSSR%2BINT.jpg" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/gohan-def-ssr-int-dokkan-awaken.html">Gohan DEF</a></div>
</td>   <td><img height="100" src="https://4.bp.blogspot.com/-nhn8QR0lenU/V-ff1KnltKI/AAAAAAAAISk/0p0Wc6yb9jAs_R6ovdEXx01uO2XOpSDNACLcB/s1600/Goku%2BSR%2BTEQ.jpg" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/goku-gt-sr-teq-dokkan-awaken.html">Goku GT</a></div>
</td>   <td><img height="100" src="https://lh3.googleusercontent.com/-BNE4qH-bd38/V-fc7NlpenI/AAAAAAAAISA/Oq0XsTYpSowgOqQgSITfsapJ8NQcLxqzQCLcB/h120/Rilldo%2BSR%2BSTR.jpg" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/general-rilldo-sr-str-dokkan-awaken.html">Rilldo</a></div>
</td>   <td><img height="100" src="https://1.bp.blogspot.com/-PdKePZnG4g8/VuRBb1MJb2I/AAAAAAAAFDk/vqeAmidVM4sOCDMY9H0w0_yO5O4tjzyeA/s1600/JackieChun_SR_TEQ.png" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/jackie-chun-sr-teq-dokkan-awaken.html">Jackie Chun</a></div>
</td>   <td><img height="100" src="https://lh3.googleusercontent.com/-PJ0l_3LglYs/V-adHmrAm7I/AAAAAAAAINA/veJKtFCNI1sdJcw-KKGW7jCsJfejQJAUwCLcB/h120/Vegeta%2BSS%2BSR%2BAGL.jpg" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/vegeta-ss-sr-agl-dokkan-awaken.html">Vegeta SS</a></div>
</td>  </tr>
<tr align="center" valign="middle">   <td><img height="100" src="https://4.bp.blogspot.com/-ql8bgyEvEI8/VypBjnPpyeI/AAAAAAAAG5w/TqDrcI6ebyYWCtCxafsB9NDjqslKZ2PrgCLcB/s1600/Vegeta%2BSS3%2BSSR%2BTEQ.jpg" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/vegeta-ss3-ssr-teq-dokkan-awaken.html">Vegeta SS3</a></div>
</td>   <td><img height="100" src="https://lh3.googleusercontent.com/-lUI3KdBa4r0/V-ac82xcv7I/AAAAAAAAIM8/YlJbaZ4na083YJc1XoE7JIReWi7zBR0MwCEw/h120/Vegeta%2BSS3%2BSTR%2BSSR.jpg" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/vegeta-ss3-ssr-str-dokkan-awaken.html">Vegeta SS3</a></div>
</td>   <td><img height="100" src="https://1.bp.blogspot.com/-oCaBy0iL66Y/VuQvrqk6JPI/AAAAAAAAFDA/BS0SVLEhtxUBZXgioNs8U0Ztw8ova8KhQ/s1200/CyborgTao_SR_STR.png" width="100" /> 
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ciborg-tao-sr-str-dokkan-awaken.html">Cyborg Tao</a></div>
</td>  </tr>
</tbody></table>
</center>

</center>


{% endblock %}