{% extends 'DokkanBundle::cap.html.twig' %}

{% block content %}

    <center>
<table border="5" cellpadding="10" cellspacing="1"><tbody>
<tr align="center" valign="middle">       <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_14.html"><img height="100" src="https://lh3.googleusercontent.com/-Z80Ic3YKaqM/VcJYvKFmLVI/AAAAAAAAAX4/eUq11WScejU/w140-h140-p/RRSoldier_N_INT.png" width="100" /></a>                  
        <br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_14.html">RR Soldier       </a></td>      
    <td><a href=""><img height="100" src="https://lh3.googleusercontent.com/-li9Lf1MxiXE/VcJYvVZLRNI/AAAAAAAAAX4/aDWGDSMcHLo/w140-h140-p/Saibaman_N_INT.png" width="100" /></a>                  
<div style="text-align: center;">
<a href="">Saibaman</a></div>
</td>
    <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_53.html"><img height="100" src="https://lh3.googleusercontent.com/-XbAOa6dgUOE/VcJYu0wMkoI/AAAAAAAAAX4/a3EuhINtyE4/w140-h140-p/FriezaSoldier_N_INT.png" width="100" /></a>                  
<span style="color: blue;"><br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_53.html">Frieza Soldier       </a></span></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-simple-minded-devil-cell-jr-n-int.html"><img height="100" src="https://lh3.googleusercontent.com/-MMQzTjWzNtU/VcJYuBLEU-I/AAAAAAAAAX4/56uLOaW10aM/w140-h140-p/CellJr_N_INT.png" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-simple-minded-devil-cell-jr-n-int.html">Cell Jr</a></td>         <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-indisoputed-champion.html">         <img alt="                 " height="100" src="https://lh3.googleusercontent.com/-4-2ekU9U0i8/VcJYux5leGI/AAAAAAAAAX4/rA1oIcGYnWE/w140-h140-p/MRSatan_N_INT.png" width="100" />         </a>         
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-indisoputed-champion.html"> Mr. Satan </a>       </td>         <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-anticipated-telekinesis.html">         <img alt="                 " height="100" src="https://lh3.googleusercontent.com/-b3X5EY0QNxc/VcJYuJp-OvI/AAAAAAAAAX4/dOZqXiXBVR0/w140-h140-p/Chaoz_N_INT.png" width="100" />         </a>         
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-anticipated-telekinesis.html"> Chaoz </a>       </td>     </tr>

<tr align="center" valign="middle">       <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-heightened-intuition-yamcha-r-int.html"><img height="100" src="https://1.bp.blogspot.com/-QnedtsUgEHQ/Vn18oy3ju7I/AAAAAAAAB7M/euoS5FZGu1w/s1600/9%2B%25282%2529.png" width="100" /></a>                  
<br><a href="https://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-heightened-intuition-yamcha-r-int.html">Yamcha</a></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/blog-page_20.html"><img height="100" src="https://lh3.googleusercontent.com/-EeYNnv-ex1E/Vn3BS7jwfmI/AAAAAAAACBo/yQrmHiV05eA/h120/5.png" width="100" /></a>                 
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/blog-page_20.html">Bulma</a></td>  <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/train-anywhere-goku-r-int.html"><img height="100" src="https://lh3.googleusercontent.com/-l3b1ac8lQG8/Vo55xssWA_I/AAAAAAAACb8/taV3-7oeAa4/w140-h140-p/GOKU%2Br%2Bint.jpg" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/train-anywhere-goku-r-int.html">Goku</a></td>       <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-facing-nail.html"><img height="100" src="https://lh3.googleusercontent.com/-GtxfCUsMZW8/VcOvjY43heI/AAAAAAAAAmc/4Xs8mnrQfck/w140-h140-p/Nails_R_INT.png" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-facing-nail.html">Nail        </a></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/sadistic-strongman-nappa.html"><img 100="" src="https://lh3.googleusercontent.com/-QFOliZ33JSM/VcOvjkXTNKI/AAAAAAAAAl8/dMxJNKq4674/w140-h140-p/Nappa_R_INT.png 
          height=" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/sadistic-strongman-nappa.html"> Nappa </a>       </td>      <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_18.html"><img height="100" src="https://4.bp.blogspot.com/-VFSPMP8R9gk/Vc3BWBPqRoI/AAAAAAAAAyw/HRjicO4v6tk/s1600/Tora_R_INT.png" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_18.html">Tora       </a></td>   </tr>
<tr align="center" valign="middle">       <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/cunning-strategy-dr-gero-sr-int.html"><img height="100" src="https://lh3.googleusercontent.com/--Exso6c4AH4/VcOvq1ue76I/AAAAAAAAAnY/z8pbNu_hlyQ/w140-h140-p/Gero_SR_INT.png" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/cunning-strategy-dr-gero-sr-int.html">Dr. Gero        </a></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/brilliant-battle-prowess-ginyu-sr-int.html"><img height="100" src="https://lh3.googleusercontent.com/-Xjw2uuSNn1U/VcOvrOintLI/AAAAAAAAAoM/i_UQJFYt28A/w140-h140-p/Ginyu2_SR_INT.png" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/brilliant-battle-prowess-ginyu-sr-int.html">Ginyu        </a></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_89.html"><img height="100" src="https://lh3.googleusercontent.com/-Y0j6GMP4ysc/VcOvrutSr-I/AAAAAAAAAng/rQV9q4tWI-A/w140-h140-p/Ginyu_SR_INT.png" width="100" /></a>                 
<span style="color: blue;"><br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha_89.html">Ginyu        </a></span></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-mecha-frieza-srint.html">         <img height="100" src="https://lh3.googleusercontent.com/-hL_ZsGjHThg/VcOvrywZQjI/AAAAAAAAAoE/_7QTqhqTpIU/w140-h140-p/MechaFrieza_SR_INT.png" width="100" />         </a>         
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ficha-mecha-frieza-srint.html"> Mecha Freezer</a>
<br></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/call-of-duty-nail-sr-int.html"><img height="100" src="https://lh3.googleusercontent.com/-9aVY3S7eeMw/VcOvsPaCfwI/AAAAAAAAAoI/rJ951zYWUYE/w140-h140-p/Nail_SR_INT.png" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/call-of-duty-nail-sr-int.html">Nail        </a></td>        <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/demonic-pride-piccolo-sr-int.html"><img height="100" src="https://lh3.googleusercontent.com/-OwjoOQSQm1o/VcOvs5RZsiI/AAAAAAAAAos/_jmlKrw796o/w140-h140-p/Piccolo_SR_INT.png" width="100" /></a>                  
<br><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/demonic-pride-piccolo-sr-int.html">Piccolo        </a></td>    </tr>


<tr align="center" valign="middle">  <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/wickedness-personified-janemba-ssr-int.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/wickedness-personified-janemba-ssr-int.html" height="100" src="https://1.bp.blogspot.com/-LnvYwjxgFc4/V26BJwGJJCI/AAAAAAAAHic/Ph9ijkXgr7khMgnJL6rWsCSU4JNXrnfWwCLcB/s1600/Janemba%2BSSR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/wickedness-personified-janemba-ssr-int.html">Super Janemba</a></div>
</td> <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ominous-designs-demigra-ssr-int.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ominous-designs-demigra-ssr-int.html" height="100" src="https://3.bp.blogspot.com/-ksTKu4ccqlU/V3vXPhPY9KI/AAAAAAAAH1E/wZimjZx0Ab4hTY7sDj3oK6Hs2LDpRGRLACLcB/s1600/Demigra%2BSSR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ominous-designs-demigra-ssr-int.html">Demigra</a></div>
</td> <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/unrivalled-talent-ultimate-gohan-ssr-int.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/unrivalled-talent-ultimate-gohan-ssr-int.html" height="100" src="https://4.bp.blogspot.com/-L1DH3sHt4rc/V6259BnphJI/AAAAAAAAH_E/1__QMda0ZSwO7LMNirnsimCyj8wfYMUjgCLcB/s1600/Gohan%2BSSR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/unrivalled-talent-ultimate-gohan-ssr-int.html">Gohan DEF</a></div>
</td>  <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/flaring-rage-gohan-ss.html"><img height="100" src="https://lh3.googleusercontent.com/-YnllmkIbXCQ/V7NrEOM_7QI/AAAAAAAAIEM/zc_y4JRFusAbT_qBb8ikfL2Ay9cw9DtlwCLcB/h120/Gohan%2BSSr%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/flaring-rage-gohan-ss.html">Gohan SS</a></div>
</td> <td><a href="https://dragon-ball-dokkan-battle.blogspot.com.es/p/terrestial-flash-android-16-ssr-int.html"><img height="100" src="https://lh3.googleusercontent.com/-4-fzoR6nNlU/V_ld6THiyhI/AAAAAAAAIVM/kwFLJHn59CALG1RqQv50UNNbqM84fyF1wCLcB/h120/Android%2B16%2BSSR%2BINT%2526.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="https://dragon-ball-dokkan-battle.blogspot.com.es/p/terrestial-flash-android-16-ssr-int.html">Android #16</a></div>
</td>  <td><a href="https://dragon-ball-dokkan-battle.blogspot.com.es/p/reign-of-warriors-king-vegeta-ssr-int.html"><img height="100" src="https://lh3.googleusercontent.com/-b-fVA0AS8T0/V_lfDXNx7nI/AAAAAAAAIVY/Ha9sX2dlSroeRIG89nkuvSphlIcjai_UACLcB/h120/King%2BVegeta%2BSSR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="https://dragon-ball-dokkan-battle.blogspot.com.es/p/reign-of-warriors-king-vegeta-ssr-int.html">King Vegeta</a></div>
</td>  </tr>
<tr align="center" valign="middle">  <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/caeseless-terror-perfect-cell-ur-int.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/blog-page_1.html" height="100" src="https://2.bp.blogspot.com/-V8Mx5JRwjso/VuHI-8vVoRI/AAAAAAAAE6s/BboD8Rhz4_A/s1600/Celula%2BUR%2BINt.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/caeseless-terror-perfect-cell-ur-int.html">Perfect Cell</a></div>
</td> <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/netherlord-demon-super-janemba-ur-int.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/netherlord-demon-super-janemba-ur-int.html" height="100" src="https://3.bp.blogspot.com/-MZ5D_87tJB8/V26BKLOnveI/AAAAAAAAHig/qDGqxaGP6fcAq44MPO6PUnhq7U76MA_mwCLcB/s1600/Janemba%2BUR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/netherlord-demon-super-janemba-ur-int.html">Super Janemba</a></div>
</td>   <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/flight-of-new-generation-gohan-ss-ur-int.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/flight-of-new-generation-gohan-ss-ur-int.html" height="100" src="https://3.bp.blogspot.com/-iMhhqtEsFx4/VzxzIEury5I/AAAAAAAAHEw/luyf_2nl69E0RQYnOmojrR42IfoGspvngCLcB/s1600/Gohan%2BSS%2BUR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/flight-of-new-generation-gohan-ss-ur-int.html">Gohan SS</a></div>
</td> <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-power-to-carve-out-future-trunks-ss.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-power-to-carve-out-future-trunks-ss.html" height="100" src="https://2.bp.blogspot.com/-vakBMJwyrjw/VzxzIAYf__I/AAAAAAAAHE0/H7LPDD5zFOACNFP4in7bSeWLucrMIbulgCLcB/s1600/Trunks%2BSS%2BUR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/the-power-to-carve-out-future-trunks-ss.html">Trunks SS</a></div>
</td> <td><a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ultimate-power-surge-ultimate-gohan-ur.html"><img alt="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ultimate-power-surge-ultimate-gohan-ur.html" height="100" src="https://2.bp.blogspot.com/-AgulOlpKj0o/V6yLeAjW5cI/AAAAAAAAH-Q/T-VotrayGcwjxcWzKD7VqT_6rKeCVlbtgCLcB/s1600/Gohan%2BUR%2BINT.jpg" width="100" /></a>                  
<div style="text-align: center;">
<a href="http://dragon-ball-dokkan-battle.blogspot.com.es/p/ultimate-power-surge-ultimate-gohan-ur.html">Gohan DEF</a></div>
</td> </tr>
</tbody></table>
</center>
            
{% endblock %}